@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-gradient-animated {
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364, #0f2027);
  background-size: 400% 400%;
  animation: gradient-move 15s ease infinite;
}
