---
---

<main class="h-screen flex flex-col justify-center items-center text-white text-center p-6">
  <h1 class="text-6xl font-bold mb-4">404</h1>
  <p class="text-lg mb-4">Página no encontrada</p>
  <a href="/" class="text-blue-400 underline">Volver al inicio</a>
</main>
