name: Check Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Clean install
        run: |
          rm -rf node_modules package-lock.json .astro dist
          npm install --legacy-peer-deps

      - name: Build with Astro
        run: npm run build
